version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:20.04
   steps:
      - run:
          command: |
           git config --global user.name "Risti699"
           git config --global user.email "wahhap10@gmail.com "
           git clone https://github.com/Risti699/JFLA-Karamel JandaX
           cd JandaX
           chmod a+x gettools.sh
           ./gettools.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
